@font-face {
  font-family: "iconfont"; /* Project id 2812934 */
  src: url('iconfont.woff2?t=1636267602104') format('woff2'),
       url('iconfont.woff?t=1636267602104') format('woff'),
       url('iconfont.ttf?t=1636267602104') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qiyexinxiguanli:before {
  content: "\e612";
}

.icon-jifangmenjinkashenlingbiangeng:before {
  content: "\e6a3";
}

.icon-dingdanguanlix:before {
  content: "\e603";
}

.icon-shangjiaguanli_daibanshixiang:before {
  content: "\e68b";
}

.icon-shanchu-copy:before {
  content: "\e600";
}

.icon-huidaodingbu:before {
  content: "\e61c";
}

.icon-morentouxiang:before {
  content: "\e661";
}

.icon-zhongzhimima:before {
  content: "\e772";
}

.icon-bianji2:before {
  content: "\e601";
}

.icon-shuoming:before {
  content: "\e62d";
}

.icon-guanyuwomen-copy:before {
  content: "\e602";
}

.icon-tianjiacheliang:before {
  content: "\e644";
}

